<header>
  <nav>
    <div class="logo">
      <a [routerLink]="['/home']">
        <i class="fas fa-book-open fa-lg me-2"></i>
        Library App
      </a>
    </div>
    <div class="nav-links">
      <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fas fa-home me-1"></i>
        Home
      </a>
      <a [routerLink]="['/books']" routerLinkActive="active">
        <i class="fas fa-book me-1"></i>
        Books
      </a>
    </div>
  </nav>
</header>