<header>
  <nav>
    <div class="logo">
      <a [routerLink]="['/home']">
        <i class="fa-solid fa-book-open-reader"></i> 
        BookHub
      </a>
    </div>
    <div class="nav-links">
      <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fas fa-home me-1"></i>
        Home
      </a>
      <a [routerLink]="['/books']" routerLinkActive="active">
        <i class="fas fa-book me-1"></i>
        Books
      </a>
      <a [routerLink]="['/borrows']" routerLinkActive="active">
        <i class="fa-solid fa-cart-shopping"></i>        Borrows
      </a>

      <a [routerLink]="['/about']" routerLinkActive="active">
        <i class="fas fa-info-circle me-1"></i>
        About
      </a>
    </div>
  </nav>
</header>